@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;900&family=Londrinah&display=swap');
body {
  font-family: Courier;
  background-image: url("/Images/controlBg.png");
  background-repeat: no-repeat;
  background-size: 1365px 680px;
  height: 100px;
}

.column {
  margin-top: 340px;
  margin-left: 50px;
  position: relative;
  }

button {
  font-family: 'Londrina Solid', sans-serif;
  padding: 12px 35px;
  width: 140px; 
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: none;
  background-color: #e27e3b;
  color: #130101;
  transition-duration: 0.4s;
  position: absolute;
  top: 53px;
  left: 65px;
}

button:hover {
    background-color: #4d2a1c;
    color: rgb(250, 248, 248);
}

h1 {
  color: white;
  text-align: center;
  letter-spacing: 10px;
  font-size: 110px;
}

p {
  font-family: verdana;
  font-size: 20px;
}