body {
  font-family: Courier;
  background-image: url("/Images/birdBg.png");
   background-repeat: no-repeat;
  background-size: cover;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  }

button {
  padding: 12px 35px;
  width: 200px; 
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: none;
  background-color: #e27e3b;
  color: #130101;
  transition-duration: 0.4s;
}

button:hover {
     background-color: #4d2a1c;
    color: rgb(250, 248, 248);
}

h1 {
  color: white;
  text-align: center;
  letter-spacing: 10px;
  font-size: 110px;
}

p {
  font-family: verdana;
  font-size: 20px;
}