@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;900&family=Londrinah&display=swap');
body {
  font-family: Courier;
  background-image: url("/Images/birdBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  }

button {
  font-family: 'Londrina Solid', sans-serif;
  padding: 12px 35px;
  width: 200px; 
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background-color: #e27e3b;
  color: #130101;
  transition-duration: 0.4s;
  position: absolute;
  top: 10px;
  left: 65px;
}

button:hover {
    background-color: #1e3f1a;
    color: rgb(250, 248, 248);
}

h1 {
  color: white;
  text-align: center;
  letter-spacing: 10px;
  font-size: 110px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

strong {
  font-family: verdana;
  font-size: 30px;
  color: azure;
  position: absolute;
  top: 200px;
  left: 380px;
}