@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;900&family=Londrinah&display=swap');

body {
  font-family: Londrina Solid;
  background-image: url("/Images/bg1.png");
   background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: absolute;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 340px;
  margin-left: 50px;
  }

button {
  font-family: 'Londrina Solid', sans-serif;
  padding: 12px 35px;
  width: 200px; 
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: none;
  background-color: #e27e3b;
  color: #130101;
  transition-duration: 0.4s;
}

button:hover {
    background-color: #19851b;
    color: rgb(250, 248, 248);
}

h1 {
  color: white;
  text-align: center;
  letter-spacing: 10px;
  font-size: 110px;
}

p {
  font-family: verdana;
  font-size: 20px;
}