body {
background-image: url("/Images/mainBackground.png");
background-repeat: no-repeat;
background-size: 300px 100px;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}